.tableOrderModal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(71, 78, 93, 0.5);
  padding-top: 50px;
}

.tableOrder {
  text-align: left;
  width: 740px;
  height: 640px;
  padding: 20px;
  background-color: white;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
}

.formContainer {
  width: 700px;
  height: 500px;
  padding-left: 40px;
  display: flex;
}

.menuButtonStyle {
  text-align: center;
  display: flex;
}

.checkoutStyle {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 350px 100px;
  grid-template-rows: repeat(4, 30px);
}

.rightContainer {
  display: grid;
  margin-left: 80px;
  margin-top: 110px;
}

.tableNumStyle {
  font-weight: bold;
  font-size: 25px;
}

.tableOrderStyle {
  margin-top: 40px;
}

.menuContainer {
  list-style-type: none;
  padding-left: 0px;
}

.orderTitleSytle {
  font-weight: bold;
  font-size: 20px;
}

.discount {
  display: flex;
  padding-left: 15px;
}

.discountTextField {
  margin-left: 5px;
  text-align: right;
  width: 60px;
  height: 1.3em;
}

.closeOrderIconStyle {
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}
