.sideList {
  list-style-type: none;
  padding-left: 0px;
}

.item {
  text-decoration: none !important;
}

nav {
  background-color: lavender;
  width: 200px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
  outline: none;
  text-align: left;
  height: 60px;
}

button:hover {
  background-color: red;
}
