.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(71, 78, 93, 0.5);
  padding-top: 50px;
}

.formStytle {
  text-align: left;
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: white;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
}

.titleStyle {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.numStyle {
  padding: 20px;
  display: grid;
}

.capacityStyle {
  padding: 20px;
}

.sizeStyle {
  padding: 20px;
  display: grid;
}

.sizeContainer {
  display: flex;
}

.bottomButtonStyle {
  text-align: center;
  display: flex;
}

.btnStyle {
  margin: 20px !important;
  width: 200px !important;
}

.textFieldStyle {
  width: 200px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.capacityPadding {
  padding-right: 10px;
}

.deleteIconStyle {
  color: red !important;
}

.topButtons {
  display: flex;
}

.iconButtonStyle {
  flex-grow: 1;
  flex-wrap: nowrap;
}
